/* --------------> THIS APPLIES FOR ALL THE LAYOUTS IN THE WEB <-------------- */
/* --------------> THIS APPLIES FOR ALL THE LAYOUTS IN THE WEB <-------------- */
/* --------------> THIS APPLIES FOR ALL THE LAYOUTS IN THE WEB <-------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Playfair Display', serif;
}

/* Navigation */
.nav-grid{
    display: grid;
    grid-template: 1fr / repeat(12, 1fr);
    height: 3em;
    background-color: red;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-main{
    grid-area: 1 / 4 / 1 / span 3;
    background-color: aqua;

}

.nav-login{
    grid-area: 1 / 7 / 1 / span 3;
    background-color: rgb(218, 144, 144);
}

.inline-block li{
    display: inline-block;
}

/* --------------> THIS APPLIES TO THE INDEX ONLY!!! <--------------*/
/* --------------> THIS APPLIES TO THE INDEX ONLY!!! <--------------*/
/* --------------> THIS APPLIES TO THE INDEX ONLY!!! <--------------*/
/* Main */

.main-grid-index {
    display: grid;
    width: 75%;
    grid-template: repeat(30, 1fr) / repeat(12, 1fr);
    margin: auto;
    height: 2000px;
    border: 2px blue solid;
    background-color: yellowgreen;
}

.headLine {
    grid-area: 1 / 1 / 6 / span 12;
    overflow: hidden;
    background-color: tomato;
    background-size: cover;
}

.box {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
  }

img{
    width: 100%;
}

.bibliotek {
    grid-area: 2 / 2 / 3 / 4;
}

.bibliotek h1 {
    color: wheat;
    font-weight: 800;
    font-size: 10em;
}

.explain {
    grid-area: 4 / 1 / 6 / 3;
    z-index: 2;
}

.threeColumns {
    grid-area: 6 / 1 / 7 / 13;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.columnita {
    width: 25%;
    align-items: center;
    
}


/* --------------> THIS APPLIES TO THE LECTURAS ONLY!!! <--------------*/
/* --------------> THIS APPLIES TO THE LECTURAS ONLY!!! <--------------*/
/* --------------> THIS APPLIES TO THE LECTURAS ONLY!!! <--------------*/

.main-grid-lecturas {
    display: grid;
    width: 75%;
    grid-template: repeat(12, 1fr) / 50px 50px 1fr;
    margin: auto;
    border: 2px;
    background-color: yellowgreen;
}

.top-lecturas {
    grid-area: 1 / 1 / 1 / 13;
    margin-top: 10px;
}

.middle-lecturas {
    grid-area: 2 / 1 / 7 / 13;
    margin-top: 10px;
}

.middle-lecturas-col {
    width: 33%;
    align-items: center;
}

.bottom-lecturas {
    grid-area: 7 / 1 / 13 / 13;
    margin-top: 10px;
}

.hideList datalist{
    height: 2.1em;
    overflow: hidden;
}

.flexDerecha{
    display: flex;
    justify-content: flex-end;
}

.flexDerecha button{
    margin-right: 30px;
}

/*
.lecturas-grid{
    display: grid;
    grid-template: repeat(6, 1fr) 2fr / repeat(12, 1fr);
    width: 100%;
}
*/

.tabla{
    border-color:black;
    border-style:solid;
    border-width:1px;
    width: 100%;
    position: relative;
    height: auto;

    text-align: center;
    
}

.tabla th{
    background-color: violet;
}

.tabla td{
    padding: 10px;
}

/* --------------> THIS APPLIES TO THE AUTORES ONLY!!! <--------------*/
/* --------------> THIS APPLIES TO THE AUTORES ONLY!!! <--------------*/
/* --------------> THIS APPLIES TO THE AUTORES ONLY!!! <--------------*/


/* --------------> THIS APPLIES TO THE LIBROS ONLY!!! <--------------*/
/* --------------> THIS APPLIES TO THE LIBROS ONLY!!! <--------------*/
/* --------------> THIS APPLIES TO THE LIBROS ONLY!!! <--------------*/